<h1>New Record Created</h1>
<table border="1">
<thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created_date</th>
    </tr>
<thead>
    <tr>
        <td>
          <%= @albums.Title %>
        </td>
        <td> 
          <%= @albums.Description %>
        </td>
        <td> 
          <%= @albums.created_at %>
      
    </tr>
   
</table>

